@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E9E9E9;
  --foreground: #2c2c2c;
  --yellow: #ffe37e;
  --red: #e01b4c;
  --green: #58918C;
  --pink: #F561AD;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  transition-property: opacity, background, transform, filter;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  position: relative;

}
body:before {
  content: "";
  background-color: transparent;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E"); */
  background-repeat: repeat;
  background-size: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
body > div {
  position: relative;
  z-index: 1;
}

.page-transition {
  opacity: 0;
  background: #000;
  transform: translateY(100px);
  filter: blur(16px);
}
@layer base {
button {
  @apply transition-button duration-button ease-button;
  &:hover {
  @apply bg-gradient-to-r from-pink-500 to-pink-300;
  }
  &:focus {
    @apply ring-2 ring-pink-500;
  }
}
h3 {
  font-size: 24px;
}
textarea {
  min-height: 120px;
  resize: none;
}
fieldset {
  display: flex;
  flex-direction: column;
}
}
/* html h1 {
  font-family: "Teko",  sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.nav-header {
  color:#e01b4c;
  text-shadow: -1px -2px 1px #fff, 0px 1px 1px #58918C, 1px 1px 11px rgba(255,0,0,1), 0px 0px 2px #58918C;
  font-size: 22px;
}
.nav-bar {
  background: var(--yellow);
}

nav ul li a {
  border-bottom: 0px solid transparent;
  font-size: 1.5rem;
  font-weight: 600;
}
nav ul li a:hover {
  transition: all 500ms ease-in-out;
  color: var(--red);
  text-shadow: -1px -2px 1px #fff, 0px 1px 1px #58918C, 1px 1px 11px rgba(255,0,0,1), 0px 0px 2px #58918C;
}
.hero {
  background-color: var(--red);
}
#about {
  scroll-margin-top: 80px;
}
#contact {
  scroll-margin-top: 60px;
}
.footer {
  background: #111;
  position: static;
  bottom: 0;
  width: 100%;
  background: 
  repeating-conic-gradient(#e01b4c 0 25%, #E9E9E9 0 50%) 
    50% / 50px 50px;
  background-repeat: repeat;
  width: 100%;
  font-weight: 600;
  text-shadow: -1px -1px 1px #E9E9E9, 0px 1px 1px #E9E9E9, 1px 1px 2px #E9E9E9;
}
.footer li {
  font-size: 16px;
  line-height: 24px;
}
.footer i {
  font-size: 36px;
}
.footer a {
  color:#111;
  text-decoration: none;
}
.footer a:hover {
  color:#111;
  text-decoration: none;
  color: #F561AD;
  text-shadow: -1px -1px 1px #fff, 0px 1px 0px rgba(0,0,0, 0.7), 1px 1px 11px rgba(0,0,0, 0.7);
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
}
textarea {
  min-height: 120px;
  resize: none;
}

form label {
  font-weight: 700;
}
form input, form textarea {
  margin: .25em 0;
  padding: .5em .6em;
  box-shadow: 0 1px 3px var(--red);
  border-radius: 8px;
  border: 2px solid var(--red);
}
form input:focus-visible, form textarea:focus-visible {
  outline: 3px solid var(--pink);
  box-shadow: inset 0 -2px 4px var(--pink);
}

.about img {
  box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.39);
border-radius: 12px;
}
